* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #ffffff;
  background-color: #283d5b;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  height: 90dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1,
p {
  position: absolute;
  top: 30px;
  left: 50%;
  translate: -50%;
}

p {
  top: 80px;
  white-space: nowrap;
}
canvas {
  background-color: transparent;
  /* position: relative;
  top: 50px;
  right: 150px; */
}
.canvas {
  position: absolute;
  left: 55%;
  bottom: 55%;
  translate: -90% 50%;
}
.container {
  position: absolute;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  top: 65%;
  left: 50%;
  translate: -50%;
}
.letter {
  width: 1.25em;
  height: 1.5em;
  padding: 4px;
  border-bottom: 2px solid aqua;
  font-size: 1.5em;
  text-align: center;
}
.wrong {
  position: absolute;
  top: 25%;
  display: none;
  left: 60%;
  text-align: end;
  line-height: 1.4em;
}
.wrong.active {
  display: block;
}
.congrats button {
  padding: 1em;
  color: #429bed;
  cursor: pointer;
}
.congrats {
  width: 300px;
  height: 140px;
  background-color: #429bed;
  text-align: center;
  border-radius: 5px;
  z-index: 111;
  display: none;
  scale: 0;
  transition: 1s ease-in-out;
}
.fa-solid {
  color: yellow;
  text-shadow: 0px 0px 5px black;
  font-size: 1.3em;
}
h3 {
  white-space: nowrap;
  line-height: 4em;
}

.congrats.active {
  display: block;
  scale: 1;
}
.gameOver button {
  padding: 1em;
  color: #ed8342;
  cursor: pointer;
}
.gameOver {
  width: 300px;
  height: 140px;
  background-color: #ed8342;
  text-align: center;
  border-radius: 5px;
  z-index: 111;
  display: none;
  scale: 0;
  transition: 1s ease-in-out;
}
.gameOver.active {
  display: block;
  scale: 1;
}
.repeat {
  position: fixed;
  padding: 1em;
  background-color: #0000006c;
  border-radius: 5px;
  bottom: 0;
  translate: 0 100%;
  visibility: hidden;
}
.repeat.active {
  visibility: visible;
  animation: popUp 2s;
}
@keyframes popUp {
  0% {
    translate: 0 100%;
  }
  50% {
    translate: 0 0%;
  }
  100% {
    translate: 0 100%;
  }
}
